Repository nmfs-ost/ss3-source-code, pull requests merged in 2023-12, with the labels that each got.

#533 Parallelize workflows
  .github/workflows/run-ss3-no-est.yml
  .github/workflows/run-ss3-with-est.yml
  .github/workflows/test-r4ss-with-ss3.yml
Labels: workflows

#536 Warning action update
  .github/workflows/build-ss3-warnings.yml
  .github/workflows/reference_files/warnings_ss_ref.txt
  warnings_ss.txt
Labels: warnings, workflows

#540 fix size comp method output #539
  SS_write_report.tpl
Labels: bug, misc. output, composition

#543 use different artifact names
  .github/workflows/build-ss3.yml
Labels: workflows, build
